* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
}


body {
    min-height: 100vh;
    margin: 0;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

header {
    color: white;
    padding: 0px 0;
    width: 100%;
    background: rgb(55,46,213);
    background: linear-gradient(90deg, rgba(55,46,213,1) 21%, rgba(9,51,121,1) 35%, rgb(243, 176, 19) 76%);

}

header h1 {
    text-align: center;
    font-size: 40px;  
}



nav{
   
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 3%;
    border-bottom: 1px solid #000;
    z-index: 10;

}

nav .logo{
    width: 180px;
    border-radius: 900px;
}
nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
    font-size: 20px;
}

nav ul li {
    display: inline-block;
    margin: 10px 50px;
    font-weight: 500;
    cursor: pointer;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.hero {
    background: url('images/zamconback.jpg') no-repeat center center/cover;
    color: white;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    min-height: 70vh;
      
}


section {
    padding: 50px 0;
    text-align: center;
}

#about {
    text-align: center;
    height: auto;
    
}

#about h2 {
    font-size: 35px;
    margin-bottom: 20px;
}

#contact h2{
    font-size: 35px;
    margin-bottom: -80px;
 }

#about p {
    margin-bottom: 20px;
     font-size: 20px;
}

#about img {
    width: 100%;
    max-width: 800px;
    height: auto;
}


#services h2{
    font-size: 35px;
    margin-bottom: 10px;
}

#services p{
     font-size: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 30px 0;
    width: 100%;
}
 footer p{
    font-size: 20px;
 }

.social {
    list-style: none;
    padding: 20px;
    margin: 0;
    text-align: center;
    
  }
  
  .social a {
    display: inline-block;
    margin-right: 10px; 
  }
  

  .social img {
    width: 60px; 
    height: 60px; 
    border-radius: 50%; 
    box-shadow: 5px 5px 10px #6f7364;
    transition: transform 0.3s ease-in-out; 
    margin-bottom: -80px;
  }

  
  .social a:hover img {
    transform: scale(1.2); 
    
  }

 #services {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
    
}


#contact{
    height: auto;
    
}

.cards-container {
    display: flex;
    justify-content: center;
    margin: 10px;
}


.card {
    justify-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
    width: 300px;
    height: 450px;
    transition: 0.15s;
    transform-style: preserve-3d;
    perspective: 1000px;
    position: relative;
}

.card .face {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    backface-visibility: hidden;
}

.card .face.face1 {
    border: black 8px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: rotateY(0deg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: contain;
}

.card:hover .face.face1 {
    transform: rotateY(180deg);
}

.card .face.face2 {
    height: auto;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    transform: rotateY(-180deg);
}

.card:hover .face.face2 {
    transform: rotateY(0deg);
}

.content2 h3 {
    font-weight: 900;
    color: #131212;
    margin-bottom: 350px;
}


.content p {
    color: black;
    font-weight: 500;
    font-size: 4%;
}


/* Individual card background images */
#card1 .face.face1 {
    background-image: url('images/z-pl1.jpg');
    background-size: contain;
    
}

#card2 .face.face1 {
    background-image: url('images/images.png');
    
}

#card3 .face.face1 {
    background-image: url('images/78d9f46b-676d-43b2-abf8-9a446b03feb4.webp');
}

#card4 .face.face1 {
    background-image: url('images/b3fc983d-ac6f-4986-a32e-3a1039100330.webp');
    background-size: contain;
}

#card5 .face.face1 {
    background-image: url('images/warehouse.jpg');
    background-size: cover;
}


/* Extra Small Devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    body {
        min-height: 100vh;
        margin: 0;
        justify-content: center;
        align-items: center;
        font-size: 4%;
    }

    .hero {
        background: url('images/zamconback.jpg') no-repeat center center/cover;
        color: white;
        text-align: center;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        display: flex;
        flex-direction: column; 
        justify-content: center; 
        align-items: center; 
        min-height: 40vh;
        margin-top: -70px;
    }

    #about {
        text-align: center;
        height: auto;
        
    }
    
    #about h2 {
        font-size: 35px;
        margin-bottom: 20px;
        margin-top: -70px;
    }
    
    #about p {
        margin-bottom: 20px;
         font-size: 20px;
    }
    
    #about img {
        width: 100%;
        max-width: 800px;
        height: auto;
        
    }

    header h1 {
        text-align: center;
        font-size: 20px; 
        margin-left: 40px; 
        display: none;
    }

    nav ul li a {
        color: rgb(2, 2, 2);
        text-decoration: none;
        font-size: 12px; 
        
    }

    nav .logo{
        width: 110px;
        border-radius: 900px;
    }

    .container {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    header {
        color: white;
        height: auto;
        width: 100%;
       
    }

    img{
        width: 200px;
    }
    

    .card {
        justify-content: center;
        justify-items: center;
        align-items: center;
        text-align: center;
        width: 300px;
        transition: 0.15s;
        transform-style: preserve-3d;
        perspective: 1000px;
        position: relative;
        margin-top: -70px;
    }


    .content p {
        color: black;
        font-weight: 500;
        font-size: 5px;
    }

    .content2 h3 {
        font-weight: 900;
        color: #131212;
        margin-bottom: 330px;
        font-size: 15px;
    }

    .social img {
        width: 30px; 
        height: 30px; 
        border-radius: 50%; 
        box-shadow: 5px 5px 10px #6f7364;
        transition: transform 0.3s ease-in-out; 
        margin-bottom: -80px;
      }

      footer {
        background-color: #333;
        color: white;
        text-align: center;
        padding: 30px 0;
        width: 100%;
        
    }
     footer p{
        font-size: 8px;
     }

     #contact h2{
        margin-top: -90px;
        font-size: 30px;
        margin-bottom: -100px;
     }

     #services h2{
        margin-top: -70px;

     }
}



/* Small Devices (landscape phones, 600px to 768px) */
@media only screen and (min-width: 601px) and (max-width: 768px) {
    header h1 {
        text-align: center;
        font-size: 10px;  
    }

    nav ul li a {
        color: rgb(167, 14, 14);
        text-decoration: none;
        font-size: 10px; 
    }

    nav .logo{
        width: 200px;
        border-radius: 900px;
    }

    .container {
        max-width: 768px ;
    }

    header {
        color: white;
        height: 95px;
        width: 100%;
        background: rgb(55,46,213);
        background: linear-gradient(90deg, rgba(55,46,213,1) 21%, rgba(9,51,121,1) 35%, rgb(243, 176, 19) 76%);
   
    }
}

/* Medium Devices (tablets, 768px to 992px) */
@media only screen and (min-width: 769px) and (max-width: 992px) {
    header h1 {
        text-align: center;
        font-size: 15px;  
    }

    nav ul li a {
        color: rgb(71, 216, 13);
        text-decoration: none;
        font-size: 15px; 
    }

    nav .logo{
        width: 100px;
        border-radius: 900px;
    }

    .container {
        max-width: 768px ;
    }

    header {
        color: white;
        height: 95px;
        width: 100%;
        background: rgb(55,46,213);
        background: linear-gradient(90deg, rgba(55,46,213,1) 21%, rgba(9,51,121,1) 35%, rgb(243, 176, 19) 76%);
   
    }
}

/* Large Devices (desktops, 992px to 1200px) */
@media only screen and (min-width: 993px) and (max-width: 1200px) {
    header h1 {
        text-align: center;
        font-size: 20px;  
    }
}
