* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
}


body {
    min-height: 100vh;
    margin: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.separator {
    width: 100%;
    border-top: 2px solid #000;
  }


  svg{
    display: none;
 }

  .sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 200px;
    z-index: 999;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    backdrop-filter: blur(10px); 
}

.sidebar li{
    width: 100%;
    
}

.sidebar a{
    width: 100%;
    
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

header {
    background: rgb(55,46,213);
    background: linear-gradient(90deg, rgba(55,46,213,1) 21%, rgba(9,51,121,1) 35%, rgb(243, 176, 19) 76%);

}

.header {
  
    color: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    letter-spacing: .15em;
    height: 120px;
}

.header h1 {
    color: #000000;
    margin-left: 10px;
    text-shadow:2px 2px 4px white;

}

nav{
   margin-top: 30px;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 3%;
    z-index: 10;

}

.headlogo img{
    margin-left: 90px;
    width: 150px;
    
    transition: transform 0.3s ease-in-out; 
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .headlogo a:hover img {
    transform: scale(1.2); 
  }


.nav-container {
    display: flex; 
    align-items: center; 
    font-weight: 500;
    margin-right: 2%;
}

nav ul {
    list-style-type: none;
    text-align: center;
    margin: 0; 
    padding: 0; 
}

nav ul li {
    display: inline-flex;
    margin-right: 20px;
}

nav ul li a {
    color: rgb(10, 10, 10);
    text-decoration: none;
}
nav a:hover {
    color: gold;
    transform: scale(1.2); 
}

    
.container ul{
    list-style: none;
}

.hero {
    background: url('images/zamconback.jpg') no-repeat center center/cover;
    color: white;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    min-height: 70vh;
      margin-top: 20px;
    
}


section {
    padding: 50px 0;
    text-align: center;
}

#about {
    text-align: center;
    height: auto;
    
}

#about h2 {
    font-size: 25px;
    margin-bottom: 20px;
}

#contact h2{
    font-size: 25px;
    margin-top: -120px;
 }

#about p {
    margin-bottom: 20px;
     font-size: 15px;
     
}

#about img {
    width: 100%;
    max-width: 800px;
    height: auto;
   
}


#services h2{
    font-size: 25px;
    margin-top: -90px;
}

#services p{
     font-size: 15px;
     margin-top: -40px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 30px 0;
    width: 100%;
    margin-top: -80px;
}
 footer p{
    font-size: 20px;
 }

.social {
    list-style: none;
    padding: 20px;
    margin: 0;
    text-align: center;
    
  }
  
  .social a {
    display: inline-block;
    margin-right: 10px; 
  }
  

  .social img {
    width: 30px; 
    height: 30px; 
    border-radius: 50%; 
    box-shadow: 5px 5px 10px #6f7364;
    transition: transform 0.3s ease-in-out; 
    margin-top: -200px;
  }

  
  .social a:hover img {
    transform: scale(1.2); 
    
  }

 #services {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
    
}


#contact{
    height: auto;
    
}

.cards-container {
    display: flex;
    justify-content: center;
    margin: 10px;
}


.card {
    justify-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
    width: 300px;
    height: 350px;
    transition: 0.15s;
    transform-style: preserve-3d;
    perspective: 1000px;
    position: relative;
}

.card .face {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    backface-visibility: hidden;
}

.card .face.face1 {
    border: 4px solid black;
    border-radius: 1em;
    box-shadow: 1px 1px 8px black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: rotateY(0deg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: contain;
}

.card:hover .face.face1 {
    transform: rotateY(180deg);
}

.card .face.face2 {
    height: 350px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    transform: rotateY(-180deg);
}

.card:hover .face.face2 {
    transform: rotateY(0deg);
}

.content2 h3 {
    font-weight: 900;
    color: #131212;
    margin-bottom: 420px;
}


.content p {
    color: black;
    font-weight: 500;
    font-size: 4%;
}


/* Individual card background images */
#card1 .face.face1 {
    background-image: url('images/z-pl1.jpg');
    background-size: contain;
    border-radius: 3em;
}

#card2 .face.face1 {
    background-image: url('images/images.png');
    border-radius: 3em;
}

#card3 .face.face1 {
    background-image: url('images/IMG-20240625-WA0018.jpg');
    background-size: cover;
    border-radius: 3em;
}

#card4 .face.face1 {
    background-image: url('images/b3fc983d-ac6f-4986-a32e-3a1039100330.webp');
    background-size: contain;
    border-radius: 3em;
}

#card5 .face.face1 {
    background-image: url('images/1718345014614.jpg');
    background-size: cover;
    border-radius: 3em;
}


/* Extra Small Devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    body {
        min-height: 100vh;
        margin: 0;
        justify-content: center;
        align-items: center;
        font-size: 4%;
    }

    .hero {
        background: url('images/zamconback.jpg') no-repeat center center/cover;
        color: white;
        text-align: center;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        display: flex;
        flex-direction: column; 
        justify-content: center; 
        align-items: center; 
        min-height: 40vh;
        margin-top: -70px;
    }

    #about {
        text-align: center;
        height: auto;
        
    }
    
    #about h2 {
        font-size: 25px;
        margin-bottom: 20px;
        margin-top: -70px;
    }
    
    #about p {
        margin-bottom: 20px;
         font-size: 15px;
    }
    
    #about img {
        width: 100%;
        max-width: 800px;
        height: auto;
        
    }

    header h1 {
        margin: 0;
        font-size: 14px;
        width: 100%;
       text-align: center;        
    }

    .headlogo img{
        width: 110px;
        justify-content: center;
        align-items: center;
        align-content: center;
        margin-left: 10px;
      }
    
    .nav-container .sidebar ul li img[src="images/3d-techny-international-transportation-and-delivery-logistics.gif"] {
        width: 200px;
    }

    svg{
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;
       
        
      }

    .sidebar{
        position: fixed;
        margin-top: 0;
        margin-left: 0;
        height: 100vh;
        width: 200px;
        z-index: 999;
        display: none;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        backdrop-filter: (40px); 
       
    
       
    }
    
    .sidebar li{
        width: 100%;
        padding-top: 15px;
        font-weight: 500;

    }
    
    .sidebar a{
        width: 100%;
        color: black;
        text-align: center;
        display: block;
        text-decoration: none;
    }

    .nav ul li:nth-child(1) {
        display: none;
    }

    .nav ul li:nth-child(2) {
        display: none;
    }

    .nav ul li:nth-child(3) {
        display: none;
    }

    .nav ul li:nth-child(4) {
        display: none;
    }

    .nav-container {
        margin-right: 0;
        display: block;
        justify-content: center;
        align-content: center;
        align-items: center;
    }

    nav ul li {
      
        display: block;
        justify-content: center;
        align-content: center;
        align-items: center;
        font-size: 15px;  
      
    }


    .container {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    header {
        color: white;
        width: 100%;
    }

    .header {
  
        color: white;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        letter-spacing: .15em;
        height: 90px;
    }

    img{
        width: 50px;
    }
    

    .card {
        justify-content: center;
        justify-items: center;
        align-items: center;
        text-align: center;
        width: 300px;
        transition: 0.15s;
        transform-style: preserve-3d;
        perspective: 1000px;
        position: relative;
      
    }


    .content p {
        color: black;
        font-weight: 500;
        font-size: 5px;
    }

    .content2 h3 {
        font-weight: 900;
        color: black;
        margin-bottom: 430px;
        font-size: 15px;

    }

    .social img {
        width: 30px; 
        height: 30px; 
        border-radius: 50%; 
        box-shadow: 5px 5px 10px #6f7364;
        transition: transform 0.3s ease-in-out; 
        margin-bottom: -80px;
      }

      footer {
        background-color: #333;
        color: white;
        text-align: center;
        padding: 30px 0;
        width: 100%;
        
    }
     footer p{
        font-size: 8px;
     }

     #contact h2{
        margin-top: 0px;
        font-size: 25px;
        margin-bottom: -100px;
     }

     #services h2{
        margin-top: -70px;
        font-size: 25px;
        
     }
}



/* Small Devices (landscape phones, 600px to 768px) */
@media only screen and (min-width: 601px) and (max-width: 768px) {
    header h1 {
        text-align: center;
        font-size: 10px;  
    }

    nav ul li a {
        color: rgb(167, 14, 14);
        text-decoration: none;
        font-size: 10px; 
    }

    nav .logo{
        width: 200px;
        border-radius: 900px;
    }

    .container {
        max-width: 768px ;
    }

    header {
        color: white;
        height: 95px;
        width: 100%;
        background: rgb(55,46,213);
        background: linear-gradient(90deg, rgba(55,46,213,1) 21%, rgba(9,51,121,1) 35%, rgb(243, 176, 19) 76%);
   
    }
}

/* Medium Devices (tablets, 768px to 992px) */
@media only screen and (min-width: 769px) and (max-width: 992px) {
    header h1 {
        text-align: center;
        font-size: 15px;  
    }

    nav ul li a {
        color: rgb(71, 216, 13);
        text-decoration: none;
        font-size: 15px; 
    }

    nav .logo{
        width: 100px;
        border-radius: 900px;
    }

    .container {
        max-width: 768px ;
    }

    header {
        color: white;
        height: 95px;
        width: 100%;
        background: rgb(55,46,213);
        background: linear-gradient(90deg, rgba(55,46,213,1) 21%, rgba(9,51,121,1) 35%, rgb(243, 176, 19) 76%);
   
    }
}

/* Large Devices (desktops, 992px to 1200px) */
@media only screen and (min-width: 993px) and (max-width: 1200px) {
    header h1 {
        text-align: center;
        font-size: 20px;  
    }
}
